/* style for main page*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(190, 131, 42);
}

.App-link {
  color: #b42ea9;
}
.navbar-custom {
  color: #FFFFFF;
  background-color: #CC3333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-background{
  background-color: rgb(255, 196, 240);
  font-family: 'Press Start 2P', cursive;
  font-size: small;
  
}

.hero-background{
  background-color: rgb(255, 65, 208);
  font-family: 'Press Start 2P', cursive;
 
}
.i-hero-title{
  font-size: 25;
  text-align: center;
}
.i-hero-subtitle{
  font-size: 15;
  text-align: center;
}
.i-hero-subsubtitle{
  font-size: 10;
  text-align: center;
}
